@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

.inter-tight-title {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
}



html
{
  background-color: #2e3440;
}

.banner
{
  font-family: "Inter Tight";
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 1em 0px 0px 0px;
  width: 98%;
  border: 0px;
  padding: 0px 15px;
  background-color: #5e81ac;
  box-sizing: border-box;
  border-radius: 10px;
  transition: border-radius 0.2s, width 0.2s, margin 0.2s;
}


.banner.scrolled
{
    top: 0%;
    width: 100%;
    border-radius: 0px;
    transition: border-radius 0.2s, width 0.2s, margin 0.2s;
    margin: 0px 0px 0px 0px;
}

.page
{
  font-family: "Inter Tight";
  margin-top: 80px;
}