.banner
{
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 1em 0px 0px 0px;
  width: 98%;
  border: 0px;
  padding: 0px 10px;
  background-color: black;
  border-radius: 10px;
  transition: border-radius 0.2s, width 0.2s, margin 0.2s;
}


.banner.scrolled
{
    top: 0%;
    width: 100%;
    border-radius: 0px;
    transition: border-radius 0.2s, width 0.2s, margin 0.2s;
    margin: 0px;
}

.page
{
  margin-top: 80px;
}